@import "tailwindcss";
@theme {
    --font-receipt: "receiptional_receiptregular", monospace;
    --animate-marquee: marquee 10s linear infinite;
    @keyframes marquee {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-100%); }
    }
}
@font-face {
    font-family: 'receiptional_receiptregular';
    src: url('receiptional_receipt.woff2') format('woff2'),
         url('receiptional_receipt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.dark {
    @apply bg-black text-white;
}
#logo {
    @apply text-black border-black bg-white fixed h-30 aspect-square border border-2 flex items-center justify-center rounded-full top-2 left-2 z-10;
}
.dark #logo {
    @apply text-white border-white bg-black;
}
#jukebox {
    @apply font-receipt relative;
}
.track {
    @apply cursor-pointer overflow-hidden whitespace-nowrap;
}
.track.active {
    @apply font-bold;
}
.track-content {
    @apply inline-block;
}
.track.active .track-content {
    @apply animate-marquee;
}
