@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-receipt: "receiptional_receiptregular", monospace;
    --animate-marquee: marquee 10s linear infinite;
    @keyframes marquee {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-100%); }
    }
}
@font-face {
    font-family: 'receiptional_receiptregular';
    src: url('receiptional_receipt.woff2') format('woff2'),
         url('receiptional_receipt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {
    @apply fixed inset-0 p-0 m-0;
}
.dark {
    @apply bg-black text-white;
}
#logo {
    @apply top-2 left-2 z-30 fixed p-4;
}
#logo img {
    @apply h-32 aspect-square;
}
#volume-control {
    @apply fixed bottom-2 left-2 z-20;
}

#logo, #volume-control {
    @apply bg-white/80 rounded-full;
}
.dark #logo, .dark #volume-control {
    @apply bg-black/80;
}

#volume-control input[type="range"] {
    @apply absolute top-4 left-13 h-2;
}

#volume-control button {
    @apply absolute top-0 left-0 h-10 w-12  cursor-pointer;
}


#jukebox {
    @apply font-receipt relative z-10;
}
.track {
    @apply cursor-pointer z-10  absolute mt-2 px-[5px] py-[10px]
}
.track.active {
    @apply font-bold;
}
.track__content {
    @apply block mr-9 overflow-hidden whitespace-nowrap;
}
.track.active .track__title {
    @apply animate-marquee;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      /* color: black; */
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: black;
      box-shadow: -80px 0 0 80px black;
    }

}